* {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    padding: 44px 36px;
    background-color: #23252C;
    min-height: 100vh;
}
.App {
    color: white;
    background-color: #1A1B21;   
    border-radius: 0 0 6px 6px;
    max-width: 350px;
    margin: auto;
}
.info {
    text-align: center;
}
.info > img {
    max-width: 100%;
    height: auto;
    border: none;
    border-radius: 6px 6px 0 0;
    filter: brightness(90%);
}

.info > h2 {
    margin-bottom: 6.19px;
    margin-top: 21px;
    font-size: 25px;
}
.info > h4 {
    color: #bd8d77;
    margin-top: 0;
    margin-bottom: 8.81px;
    font-size : 12.8px;    
}

.info > a {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 10.24px;
    letter-spacing: 0.7px;
    
}

.info button {
    border-radius: 6px;
    font-size: 14px;
    padding: 10px 30px;
    cursor: pointer;
}

.info .email {
    margin-top: 15px;
    margin-right: 17px;
}
.info .linkedin {
    color: white;
    background-color: #0077b5;
}
.info .email i {
    margin-right: 5px;
}
.info .linkedin i {
    margin-right: 5px;
}

.About {
    padding: 33px 27px;
}
.About h4 {
    margin-bottom: 5px;
    font-size: 16px;
}
.About p {
    font-size: 11px;
    line-height: 150%;
    color: #DCDCDC ;
    letter-spacing: 0.5px;
    
}


.interests {
    padding: 0px 30px 24px 28px;
}
.interests h4 {
    margin-bottom: 5px;
    font-size: 16px;
}
.interests p {
    letter-spacing: 0.5px;
    font-size: 11px;
    line-height: 150%;
    color: #DCDCDC ;
}

.Footer {
    padding: 19.5px 50px ;
    width: 100%;
    background-color: #161619;
    border-radius: 0 0 6px 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
}

.Footer a {
    cursor: pointer;
}
.Footer a i {
    color : #918E9B;
}

.Footer .twitter:hover i{
    color: #1da1f2;
}
.Footer .facebook:hover i{
    color: #1877f2;
}
.Footer .instagram:hover i{
    color: #e1306c;
}
.Footer .github:hover i{
    color: #f5f5f5;
}